<div class="row align-content-center" style="width: 600px; height: 200px;background-color: #D2D5ED; border-radius: 10px">
  <h2 class="fw-medium" style="width: 398px; height: 48px; margin-left: 100px; margin-bottom: 50px">¿Necesitas más información? ¡Contacte con al propietario o con un asesor</h2>
  <div class="row-cols-3">
    <a class="fw-medium m-4" style="font-size: 20px; text-decoration: none; color: black; font-style: italic">Propietario 1</a>
    <img class="pe-4" src="assets/images/prof.png" style="width: auto; height: 61px">
    <button mat-flat-button class="fw-medium" style="background-color: #84DCC6; border: 8px; width: 168px; height: 44px">Contactar</button>
  </div>
</div>
