<footer class="footer container-fluid">
    <div class="row justify-content-evenly">
      <div class="col-12 text-center" style="margin-bottom: 30px;">
        <div class="container-fluid">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-4 d-none d-md-block">
                    <div class="linea opacity-100"></div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="ft-ttl">RentEase</div>
                </div>
                <div class="col-4 d-none d-md-block">
                    <div class="linea opacity-100"></div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-10 col-sm-5 col-lg-2 text-start" style="margin-bottom: 50px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="ft-ttlsec">Sobre RentSmart</div>
                </div>
                <div class="col-12 mt-4 text-start">
                    <div><a href="" class="text-decoration-none ft-sec">Quiénes somos</a></div>
                    <div><a href="" class="text-decoration-none ft-sec">Trabaja con nosotros</a></div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-10 col-sm-5 col-lg-2 text-start" style="margin-bottom: 50px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="ft-ttlsec">Contáctanos</div>
                </div>
                <div class="col-12 mt-4 text-start">
                    <div>
                        <img src="../../../assets/img/ring-phone.png" alt="telefono" class="img-fluid">
                        <span class="text-decoration-none ft-sec">+51 987 654 321</span>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-10 col-sm-5 col-lg-2 text-start" style="margin-bottom: 50px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="ft-ttlsec">Enlaces directos</div>
                </div>
                <div class="col-12 mt-4 text-start">
                    <div><a routerLink="/main/home" routerLinkActive="active"
                         class="text-decoration-none ft-sec">Inicio</a></div>
                    <div><a routerLink="/main/categories" routerLinkActive="active"
                         class="text-decoration-none ft-sec">Categorías</a></div>
                    <div><a routerLink="/publicar" routerLinkActive="active"
                         class="text-decoration-none ft-sec">Publica tu inmueble</a></div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-10 col-sm-5 col-lg-2 text-start" style="margin-bottom: 50px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="ft-ttlsec">Síguenos</div>
                </div>
                <div class="col-5 mt-4 text-start">
                    <div>
                        <img src="../../../assets/img/facebook.png" alt="telefono" class="img-fluid rs-img">
                    </div>
                </div>
                <div class="col-5 mt-4 text-start">
                    <div>
                        <img src="../../../assets/img/instagram.png" alt="telefono" class="img-fluid rs-img">
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-12 text-center" style="margin-bottom: 30px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="ft-ttlsec" style="font-size: 15px">2024 RentSmart - Todos los derechos reservados</div>
                </div>
            </div>
        </div>
      </div>
    </div>
</footer>
