<mat-dialog-actions align="end" class="header">
    <button mat-button mat-dialog-close style="color: black;" class="cerrar"></button>
</mat-dialog-actions>

<div class="contenedor">
    <h2 mat-dialog-title class="titulo">Reseñas</h2>
    <mat-dialog-content class="mat-typography">
        <div class="cont">

            <div class="container-fluid">
                <div class="row d-flex align-items-center">
                    <div class="col-12 col-lg-6" style="padding-left: 0;">
                        <div class="desc">Inmueble: Oficina con Diseño Contemporáneo</div>
                    </div>
                    <div class="col-12 col-lg-6 text-center my-3">
                        <img src="../../assets/img/foto-ofi.png" alt="foto-oficina" class="img-fluid foto">
                    </div>
        
                    <div class="col-12" style="padding-left: 0;">
                        <div class="cal">Calificación promedio: </div>
                        <img src="../../assets/img/calificacion.png" alt="calificacion" class="img-fluid calif">
                    </div>
        
                </div>
            </div>

            <div class="container-fluid buscador">
                <div class="row align-items-center">
                    <div class="col-1 d-none d-lg-block text-center">
                        <img src="../../assets/img/buscar.png" alt="buscar" class="img-fluid lupa">
                    </div>
                    <div class="col-12 col-lg-11">
                        <form [formGroup]="formGroup" (ngSubmit)="buscar()">
                            <div class="container-fluid" style="margin-top: 20px; margin-bottom: 35px;">
                                <div class="row align-items-center">
                                    <div class="col-12 col-lg-8 " >
                                        <div>
                                            <label for="buscarInput" class="form-label" style="font-size: 14px;">
                                                Buscar</label>
                                            <input type="text" class="form-control" id="buscarInput" 
                                            placeholder="Indica palabras para buscar" 
                                            formControlName="busqueda" (keyup)="filtroNulo($event)" required> 
                                          </div>
                                    </div>
                                    <div class="col-12 col-lg-4 text-center" style="margin-top: 30px;">
                                        <button type="submit" class="btn btn-primary text border-0 shadow"
                                        [disabled]="!formGroup.valid">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container-fluid s-resultados" *ngIf="!condicion">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <img src="../../assets/img/lupa-s.png" alt="sin-res">
                    </div>
                    <div class="col-7 text-center px-5">
                        <div class="texto">Lo sentimos, no se encontraron resultados 
                            que coincidan con tu búsqueda. </div>
                    </div>
                    <div class="col-7 text-center px-5" style="margin-top: 20px;">
                        <div class="texto">¿Por qué no intentas realizar una búsqueda con 
                            términos diferentes o más generales? </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="padding-left: 10%; padding-right: 10%;">
                <div class="row align-items-center">
                    <div class="col-10 mx-auto" style="margin-top: 40px; margin-bottom: 20px;">
                        <div class="texto ttl" style="margin-left: 10px;">{{titulo}}</div>
                    </div>
                    <div *ngFor="let item of resenasFiltradas" class="col-10 my-4 mx-auto">
                        <div class="container-fluid">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-3">
                                    <div class="texto nombre">{{item.nombre_usuario}}</div>
                                </div>
                                <div class="col-2 text-start">
                                    <img src="../../assets/img/{{item.foto}}" alt="f-perfil" class="img-fluid foto-perfil">
                                </div>
    
                                <div class="col-5 text-end">
                                    <div class="texto txt-res">Calificación: </div>
                                </div>
                                <div class="col-2 text-center">
                                    <img src="../../assets/img/calificacion-{{item.calificacion}}.png" alt="f-perfil" class="img-fluid foto-calificacion">
                                </div>
                                <div class="col-12 my-4">
                                    <div class="texto txt-res">Hace {{item.tiempo}}</div>
                                </div>
                                <div class="col-12 my-1">
                                    <div class="texto txt-res">{{item.comentario}}</div>
                                </div>
    
                                <div class="col-12 text-center" style="margin-top: 40px;">
                                    <div class="linea opacity-100"></div>
                                  </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-5 text-center mx-auto my-3" *ngIf="condicion">
                        <a class="btn btn-primary border-0 text-center shadow" style="height: 100%; padding: 10px; max-width: 300px;"
                        routerLink="resena" routerLinkActive="active">Cargar más reseñas</a>
                    </div>

                    <div class="col-5 text-center mx-auto my-3" *ngIf="!condicion">
                        <a class="btn btn-primary border-0 text-center shadow" style="height: 100%; padding: 10px; max-width: 300px;"
                        (click)="limpiar()">Volver</a>
                    </div>
                </div>
            </div>

        </div>

    </mat-dialog-content>
</div>


