<div class="card border-0">
    <div class="row g-0 vh-100">
      <div class="col-12 col-lg-6 d-flex flex-column">
        <div class="card-body" style="margin-top: 64px;">
            <div class="row justify-content-center align-items-center">
                <img src="../../../assets/img/logo rentease.png" alt="logo" class="img-fluid" style="max-width: 120px; height: auto; margin-bottom: 35px;">
                <div class="main">
                    <h1 class="titulo">RentEase</h1>
                </div>
            </div>
            <div class="container text-center">
                <h2 style="font-size: 40px;">Publicar un inmueble</h2>
            </div>
        
            <div class="col-12 text-center" style="margin-top: 120px; margin-bottom: 50px; padding-left: 100px; padding-right: 100px;">
                <div class="texto">
                    El inmueble ha sido corroborado y publicado en RentEase. ¡Felicidades!
                </div>
            </div>

            <div class="col-12 text-center" style="margin-top: 120px; margin-bottom: 50px; padding-left: 100px; padding-right: 100px;">
                <button class="btn btn-primary text border-0" style="font-size: 20px; padding: 15px;"
                    routerLink="/main/home" routerLinkActive="active">
                        Volver a inicio</button>
            </div>

        </div>

        </div>

      

        <div class="col-12 col-lg-6 d-none d-lg-flex">
            <div class="container d-flex align-items-center justify-content-center caja">
                <div class="row justify-content-center">
                    <div class="col-12" style="padding: 100px;">
                        <img src="../../assets/img/publicar.png" 
                        class="img-fluid mx-auto d-block img_responsive" 
                        alt="logo_rentease">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
