<div class="resena-container">
    <div class="titulo">Crear una reseña</div>
    <div class="propiedad-info">
      <div class="info-texto">
        <div class="info-text">Inmueble: Oficina con Diseño Contemporáneo</div>
        <div class="info-text">Ofrecido por: <strong>Propietario 1</strong> <img src="assets/img/propietario.png" alt="Propietario" class="propietario-img"></div>
        <div class="info-text">Calificación promedio: <img src="assets/img/estrellas.JPG" alt="Estrellas" class="estrellas-img"></div>
      </div>
      <img src="assets/img/oficina.jpeg" alt="Oficina" class="oficina-img">
    </div>
    <div class="formulario-resena">
      <div class="subtitulo">Rellene los siguientes campos a continuación:</div>
      <div class="calificacion-container">
        <label for="calificacion" class="label-text">Calificación dada:</label>
        <img src="assets/img/estrellas.JPG" alt="Estrellas" class="estrellas-img">
      </div>
      <label for="comentario" class="label-text">Ingrese su comentario</label>
      <textarea id="comentario" placeholder="Indica su comentario de la reseña"></textarea>
      <button (click)="enviarResena()">Enviar</button>
    </div>
  </div>
  