<div class="container">
  <div class="overlay-text">Busca tu propio inmueble para alquilar</div>
  <div class="rounded-border">
    <div style="display: flex;">

      <div style="flex: 1; margin-right: 10px;">
        <label for="categoria">Categoría</label>
        <mat-form-field>
          <mat-label>Insertar Categoría</mat-label>
          <mat-select id="categoria">
            <mat-option value="casa">Hogar</mat-option>
            <mat-option value="vehiculo">Vehículo</mat-option>
            <mat-option value="comercial">Comercial</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div style="flex: 1; margin-right: 10px;">
        <label for="fechaInicio">Fecha de inicio</label>
        <mat-form-field>
          <mat-label>dd/mm/aa</mat-label>
          <input matInput type="text" placeholder="Ej. 10/08/20" pattern="\d{2}/\d{2}/\d{2}" id="fechaInicio">
          <mat-hint>Escribe la fecha en formato dd/mm/aa</mat-hint>
        </mat-form-field>
      </div>
      
      <div style="flex: 1;">
        <label for="fechaFin">Fecha de Fin</label>
        <mat-form-field>
          <mat-label>dd/mm/aa</mat-label>
          <input matInput type="text" placeholder="Ej. 10/08/20" pattern="\d{2}/\d{2}/\d{2}" id="fechaFin">
          <mat-hint>Escribe la fecha en formato dd/mm/aa</mat-hint>
        </mat-form-field>
      </div>
    </div>
    
    <div style="margin-top: 20px; display: flex; align-items: center;">
      
      <div style="flex: 2; margin-right: 10px;">
        <label for="Caracteristicas">Caracteristicas</label>
        <mat-form-field>
          <mat-label>Indica palabras claves que describan el inmueble que necesitas</mat-label>
          <input matInput type="text" placeholder="Ej. 1000" id="precioMaximo">
        </mat-form-field>
      </div>
      
      <div style="flex: 1;">
        <button class="custom-button" (click)="irABuscaVisualizacion()">Buscar</button>
      </div>
      
    </div>
  </div>
</div>