h2 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    margin-bottom: 0.5em;
}

p {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

textarea {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    height: 150px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: "Rubik", sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
    background-color: #f0f2fe;
}

textarea::placeholder {
    color: #ccc;
}

button {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: block;
    width: 100%;
    padding: 0.75em;
    font-size: 1em;
    font-family: "Rubik", sans-serif;
    background-color: #e0f7f3;
    color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c3ebe4;
}

.error {
    color: #ff0000;
    font-size: 0.9em;
    margin-bottom: 1em;
}

.success {
    color: #4caf50;
    font-size: 1em;
    margin-top: 1em;
}
