<div class="container-fluid">
    <div class="row" style="margin-top: 150px; margin-bottom: 50px;">
        <div class="col-7 text-start" style="margin-left: 10%;">
            <h2>Proceso de reserva</h2>
        </div>
    
        <div class="col-10 mx-auto" style="margin-top: 50px;">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-lg-6">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <div class="label">Oficina con Diseño Contemporáneo</div>
                                </div>
                                <div class="col-12 col-lg-4 text-start">
                                    <div class="texto">Ofrecido por:</div>
                                </div>
                                <div class="col-12 col-lg-6 text-start my-3">
                                    <div class="container-fluid">
                                        <div class="row align-items-center">
                                            <div class="col-8">
                                                <div class="texto" style="font-style: italic; font-size: 17px;">Propietario 1</div>
                                            </div>
                                            <div class="col-4">
                                                <img src="../../../assets/img/publicacion/prof.png" 
                                                alt="propietario" class="img-fluid" style="border-radius: 20px; max-width: 50px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <img src="../../../assets/img/publicacion/imagen1.png" alt="Imagen 1" class="img-fluid"
                                    style="border-radius: 12px">
                                </div>
                                <div class="col-4">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12 my-3">
                                                <img src="../../../assets/img/publicacion/imagen2.jpg" alt="Imagen 1" class="img-fluid"
                                                style="border-radius: 12px">
                                            </div>
                                            <div class="col-12 my-3">
                                                <img src="../../../assets/img/publicacion/imagen3.jpg" alt="Imagen 1" class="img-fluid"
                                                style="border-radius: 12px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-10 mx-auto" style="margin-top: 100px; margin-bottom: 100px;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-7">
                        <div class="container-fluid">
                            <div class="row align-items-center justify-content-center">

                                <div class="col-10">
                                    <div class="texto" style="font-size: 30px;">Tu estadía</div>
                                </div>

                                <div class="col-10" style="margin-top: 30px;">
                                    <div class="container-fluid">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-8 col-md-6 text-center">
                                                <div class="texto">
                                                    Fecha de inicio</div>
                                            </div>
                                            <div class="col-8 col-md-6 text-center">
                                                <div class="date" style="background-color: #222222;">
                                                    01/06/2024</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-10 text-center" style="margin-top: 30px; margin-bottom: 30px;">
                                    <div class="container-fluid">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-8 col-md-6 text-center">
                                                <div class="texto text-center">
                                                    Fecha de fin</div>
                                            </div>
                                            <div class="col-8 col-md-6 text-center">
                                                <div class="date text-center" style="background-color: #222222;">
                                                    01/06/2025</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-10" style="margin-top: 10px; margin-bottom: 30px;">
                                    <div class="container-fluid">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-8 text-center">
                                                <a class="btn shadow">
                                                    Modificar fechas</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-10" style="margin-top: 50px;">
                                    <div class="container-fluid contenedor">
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <div class="texto" style="font-size: 30px; color: #F0F2FF;">Elige la cuota de pago</div>
                                            </div>
            
                                            <div class="col-12" style="margin-top: 30px;">
                                                <div class="container-fluid">
                                                    <div class="row align-items-center justify-content-center">
                                                        <div class="col-8 text-center">
                                                            <button class="btn shadow">
                                                                Mensual: S/. 4000</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="col-12 text-center" style="margin-top: 30px; margin-bottom: 30px;">
                                                <div class="container-fluid">
                                                    <div class="row align-items-center justify-content-center">
                                                        <div class="col-8 text-center">
                                                            <button class="btn shadow">
                                                                Anual: S/. 48000</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-10 text-center my-4">
                                    <div class="info">Como la cuota elegida es de tipo ‘Mensual’. Al confirmar se cobrará la primera cuota. El día de pago máximo por cada mensualidad será hasta el día primero de cada mes.</div>
                                </div>

                                <div class="col-10 text-start" style="margin-top: 50px;">
                                    <div class="info">Al hacer clic en ‘Confirmar’, usted reconoce y acepta que toda la información 
                                        proporcionada es precisa y completa. Además, comprende y acepta cumplir con 
                                        las políticas y regulaciones establecidas por el propietario y la plataforma de 
                                        alquiler. Esto incluye el compromiso de respetar las normativas locales y mantener 
                                        el inmueble en condiciones adecuadas durante el período de alquiler. Se recomienda 
                                        revisar detenidamente todos los términos y condiciones antes de proceder, ya que 
                                        cualquier incumplimiento podría resultar en acciones disciplinarias o la terminación 
                                        del contrato de alquiler. ¡Gracias por su cooperación y confianza en nuestra plataforma!</div>
                                </div>

                                <div class="col-10 my-5 text-start">
                                    <a routerLink="/main/reservar/completado" routerLinkActive="active" 
                                    class="btn btn-primary border-0 btn-reservar">Confirmar</a>
                                </div>

                            </div>
                        </div>         
                    </div>

                    <div class="col-12 col-lg-5" style="margin-top: 30px; margin-bottom: 30px;">
                        <div class="container-fluid">
                            <div class="row align-items-center justify-content-center">

                                <div class="col-10 text-end" style="margin-bottom: 20px;">
                                    <div class="texto" style="font-size: 15px;">
                                        Este local, como todos los demás en RentEase, es 
                                        seguro para su alquiler. Cuenta con toda la 
                                        documentación legal correspondiente.
                                    </div>
                                </div>

                                <div class="col-10 text-center" style="margin-top: 40px;">
                                    <div class="contactar">
                                        <div class="texto" style="font-size: 18px;">¿Necesita más información? ¡Contacte al 
                                            propietario o con un asesor!</div>
                                        
                                            <div class="container-fluid" style="margin-top: 20px;">
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-10">
                                                        <div class="container-fluid">
                                                            <div class="row align-items-center">
                                                                <div class="col-12 text-center">
                                                                    <div class="texto" style="font-style: italic; font-size: 17px;">Propietario 1</div>
                                                                </div>
                                                                <div class="col-12 text-center">
                                                                    <img src="../../../assets/img/publicacion/prof.png" 
                                                                    alt="propietario" class="img-fluid" style="border-radius: 20px; width: 50px;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-10" style="margin-top: 20px;">
                                                        <a class="btn btn-primary border-0 text-center shadow btn-cargar" 
                                                        routerLink="/main/contacto" routerLinkActive="active">Contactar</a>
                                                    </div>
                                                </div>
                                            </div>

                                    </div>
                                </div>

                                <div class="col-12 text-end" style="margin-top: 100px;">
                                    <div class="texto" style="margin-left: 40px; margin-right: 20px; font-size: 30px;">
                                        Medio de pago</div>
                                </div>

                                <div class="col-12 text-end" style="margin-top: 20px;">
                                    <div class="texto" style="margin-left: 40px; margin-right: 20px;">
                                        Pagar con:</div>
                                </div>

                                <div class="col-12" style="margin-top: 10px;">
                                    <div class="container-fluid">
                                        <div class="row align-items-center justify-content-end">
                                            <div class="col-8 text-center my-4">
                                                <button class="btn text-start" style="padding-left: 20px; padding-right: 20px;">
                                                    <img src="../../../assets/img/reservar/visa.png" alt="visa" class="img-fluid" style="max-width: 50px; height:auto; border-radius: 5px; margin-right: 10px;">
                                                    ...1234
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 text-end" style="margin-top: 20px; margin-bottom: 20px;">
                                    <div class="texto" style="margin-left: 40px; margin-right: 20px;">
                                        Otros métodos:</div>
                                </div>

                                <div class="col-12" style="margin-top: 10px;">
                                    <div class="container-fluid">
                                        <div class="row align-items-center justify-content-end">
                                            <div class="col-8 text-center mb-4">
                                                <button class="btn">
                                                    Agregar tarjeta de crédito/débito</button>
                                            </div>
                                            <div class="col-8 text-center mb-2">
                                                <button class="btn text-center" style="padding-left: 20px; padding-right: 20px;">
                                                    <img src="../../../assets/img/reservar/paypal.png" alt="visa" class="img-fluid" style="max-width: 70px; height:auto; border-radius: 5px;">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 text-end" style="margin-top: 30%; margin-right: 50px;">
                                    <a routerLink="/main/publicacion" routerLinkActive="active" 
                                    class="btn btn-primary border-0 btn-volver">Volver</a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
