<div style="justify-content: space-between;display: flex; flex-direction: column; width: 100%; max-width: 500px; height: 500px; background-color: white; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 10px; overflow: hidden">
  <div class="fw-medium" style="padding: 10px; background-color: #4B4E6D; color: white; text-align: center">
    Soporte
  </div>
  <div style="flex: 1; padding: 10px; overflow-y: auto; background-color: #D2D5ED">
    <div class="message"> Hola,¿Cómo estás?</div>
    <div class="message"> ¡Estoy bien, gracias!</div>
  </div>
  <div style="padding: 10px; background-color: #4B4E6D; color: white; text-align: center">
    <form style="display: flex; align-items: center">
      <input style="flex: 1; padding: 10px; border: 1px solid #ced4da; border-radius: 20px; margin-right: 10px" type="text" placeholder="Escribe tu consulta">
      <button class="fw-medium" type="submit" style="padding: 10px 20px; border: none; border-radius: 20px; background-color: #84DCC6;color: black; cursor: pointer"
      routerLink="/main/contacto" routerLinkActive="active">Enviar</button>
    </form>
  </div>
</div>
