body {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    overflow-x: hidden;
  }
  
  .container {
    position: relative;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .overlay-text {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Estilos para el contorno redondeado */
  .rounded-border {
    border-radius: 10px;
    border: 1px solid #ffffff;
    padding: 20px;
    background-color: #d8d4ec;
  }
  
  mat-card {
    padding: 16px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  /* Ajuste de anchos para los inputs */
  .mat-form-field.flex-1 {
    flex: 1;
    margin-right: 10px;
  }
  
  /* Ajuste de tamaño y color para el botón */
  .custom-button {
    background-color: #84dcc6;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
  
  .small-button {
    padding: 8px 16px; /* Reducir el tamaño del botón */
  }
  
  .wider-button {
    padding: 10px 40px; /* Aumentar el ancho del botón de cargar más opciones */
  }
  
  .center-button {
    display: block;
    margin: 10px auto; /* Centrar el botón seleccionar */
    width: 80%; /* Aumentar el ancho del botón seleccionar */
  }
  
  .muestra-resultados-de-filtro {
    text-align: center;
    margin: 20px;
  }
  
  .resultados {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .resultado {
    margin: 20px; /* Espacio entre los contenedores */
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    max-width: 300px; /* Aumentar el tamaño del contenedor */
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .calificacion {
    color: gold;
    font-size: 1.5em; /* Aumentar el tamaño de las estrellas */
    text-shadow: 1px 1px 2px black; /* Agregar contorno negro a las estrellas */
  }
  
  .detalles {
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px; /* Espacio entre detalles y botón */
  }
  
  button:hover {
    background-color: #6bc0ab;
  }
  