<div class="row" style="height: 121px; background-color: #4B4E6D">
  <div class="col-6 d-flex align-items-center p-4">
    <img class="pe-4" src="assets/logo%20rentease.ico" style="width: auto; height: 85px; object-fit: cover">
    <h1 class="fw-medium" style="color: #D2D5ED; font-size: 40px; font-family:Rubik,Serif"> RentEase</h1>
  </div>
  <div class="col-4 align-content-center">
    <a class="fw-medium pe-4" style="color: #D2D5ED; font-size: 20px; text-decoration: none">Inicio</a>
    <a class="fw-medium pe-4" style="color: #D2D5ED; font-size: 20px; text-decoration: none">Categorías</a>
    <a class="fw-medium pe-4" style="color: #D2D5ED; font-size: 20px; text-decoration: none">Publica tu inmueble</a>
  </div>
  <div class="col-2 align-content-center">
    <button mat-flat-button class="fw-medium" style="background-color: #84DCC6; border: 8px; width: 200px; height: 44px">Cerrar Sesión</button>
  </div>
</div>
