<!-- visualizacion-resenas.component.html -->
<div class="resenas-container">
    <div class="titulo">
      Reseñas
    </div>
    <div class="inmueble-info">
      <p class="inmueble-texto">Inmueble: Oficina con diseño Contemporáneo</p>
      <img src="assets/img/imagen-inmueble.jpg" alt="Imagen Inmueble" class="imagen-inmueble">
    </div>
    
    <div class="calificacion-promedio">
      Calificación promedio:
    </div>
    <img src="assets/img/estrellas.JPG" alt="Estrellas Calificación" class="imagen-estrellas">
  
    <div class="filtro-container">
      <div class="filtro-busqueda">
        <img src="assets/img/flechita.jpeg" alt="Flechita" class="imagen-flechita">
        <input type="text" placeholder="Buscar reseñas">
        <button class="boton-buscar">Buscar</button>
      </div>
      <div class="filtros">
        Filtros:
      </div>
      <button class="boton-filtro">Las más recientes</button>
      <button class="boton-filtro">Positivas</button>
      <button class="boton-filtro">Negativas</button>
    </div>
    
    <div class="resenas-lista">
      <div class="resena">
        <div class="resena-header">
          <span class="usuario-nombre">Usuario 1</span>
          <img src="assets/img/imagen-perfil.png" alt="Perfil" class="imagen-perfil">
          <span class="calificacion-texto">Calificación:</span>
          <img src="assets/img/estrellas.JPG" alt="Estrellas Calificación" class="imagen-estrellas">
        </div>
        <span class="resena-fecha">hace 5 meses</span>
        <p class="resena-texto">Esta oficina es simplemente espectacular. 
            El diseño contemporáneo crea un ambiente inspirador para trabajar. 
            La ubicación es perfecta, y la cantidad de luz natural es excelente. 
            Sin duda, la mejor oficina en la que he trabajado.</p>
      </div>
      <hr class="separador">
      <div class="resena">
        <div class="resena-header">
          <span class="usuario-nombre">Usuario 2</span>
          <img src="assets/img/imagen-perfil.png" alt="Perfil" class="imagen-perfil">
          <span class="calificacion-texto">Calificación:</span>
          <img src="assets/img/estrellas.JPG" alt="Estrellas Calificación" class="imagen-estrellas">
        </div>
        <span class="resena-fecha">hace 3 meses</span>
        <p class="resena-texto">Trabajar en esta oficina es una experiencia única. 
            El diseño contemporáneo fomenta la creatividad y la colaboración. 
            La ubicación céntrica es ideal para reuniones con clientes. 
            La única sugerencia de mejora sería agregar mas espacios de descanso para los empleados.</p>
      </div>
    </div>
    
    <button class="boton-cargar-mas">Cargar más reseñas</button>
  </div>
  