/* visualizacion-resenas.component.css */

body {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    overflow-x: hidden;
  }
  
  .resenas-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .titulo {
    font-size: 2.5em;
    color: #333333; /* Gris oscuro */
    margin-bottom: 20px;
  }
  
  .calificacion-promedio {
    font-size: 2em;
    color: #000000; /* Negro */
    margin-top: 20px;
  }
  
  .inmueble-info {
    display: flex;
    align-items: center;
  }
  
  .inmueble-texto {
    font-size: 1.2em;
    color: #000000; /* Negro */
    margin-right: 20px;
  }
  
  .imagen-inmueble {
    width: 200px; /* Aumentar tamaño de la imagen */
    height: auto;
  }
  
  .imagen-estrellas {
    width: 150px;
    height: auto;
  }
  
  .filtro-container {
    background-color: #d8d4ec;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
  }
  
  .filtro-busqueda {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .imagen-flechita {
    width: 30px; /* Aumentar tamaño de la imagen */
    height: auto;
    margin-right: 10px;
  }
  
  .filtro-container input {
    flex: 1;
    padding: 8px;
    font-size: 1em;
    height: 40px; /* Ajustar la altura del input */
  }
  
  .boton-buscar,
  .boton-filtro,
  .boton-cargar-mas {
    background-color: #88dcc4;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: #000000; /* Texto negro */
    cursor: pointer;
    font-size: 1em;
    font-weight: bold; /* Texto en negrita */
    margin-top: 10px;
    height: 40px; /* Ajustar la altura del botón */
  }
  
  .boton-buscar {
    margin-left: 10px; /* Asegura que el botón esté alineado a la derecha */
  }
  
  .filtros {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .filtros span {
    margin-right: 10px;
  }
  
  .boton-filtro {
    margin-left: 10px;
  }
  
  .resenas-lista {
    margin-top: 20px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .resena {
    margin-bottom: 20px;
  }
  
  .resena-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .imagen-perfil {
    width: 50px;
    height: auto;
    margin-left: 10px;
  }
  
  .resena-fecha {
    font-size: 0.8em;
    display: block;
    margin-top: 5px;
  }
  
  .resena-texto {
    font-size: 0.8em;
    margin-top: 10px;
  }
  
  .separador {
    border: 0;
    height: 1px;
    background: #88dcc4;
    margin: 20px 0;
  }
  
  .boton-cargar-mas {
    display: block;
    margin: 20px auto;
  }
  