<div class="container-fluid">
    <div class="row" style="margin-top: 150px; margin-bottom: 50px;">
        <div class="col-7 text-start" style="margin-left: 10%;">
            <h2>Proceso de reserva</h2>
        </div>
    
        <div class="col-10 mx-auto" style="margin-top: 50px;">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-lg-6">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <div class="label" style="font-size: 40px;">¡Reserva completada!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 my-4">
                        <div class="container-fluid">
                            <div class="row align-items-center justify-content-end">
                                <div class="col-8 text-end my-3">
                                    <div class="label">Oficina con Diseño Contemporáneo</div>
                                </div>
                                <div class="col-8 text-center">
                                    <img src="../../../assets/img/publicacion/imagen1.png" alt="Imagen 1" class="img-fluid"
                                    style="border-radius: 12px">
                                </div>
                                <div class="col-8 text-end my-3">
                                    <div class="container-fluid">
                                        <div class="row align-items-center">
                                            <div class="col-12 text-start my-3">
                                                <div class="container-fluid">
                                                    <div class="row align-items-center">
                                                        <div class="col-12 col-md-5">
                                                            <div class="label" style="font-size: 14px;">Ofrecido por: </div>
                                                        </div>
                                                        <div class="col-6 col-md-5">
                                                            <div class="label" style="font-style: italic; font-size: 14px;">Propietario 1</div>
                                                        </div>
                                                        <div class="col-6 col-md-2">
                                                            <img src="../../../assets/img/publicacion/prof.png" 
                                                            alt="propietario" class="img-fluid" style="border-radius: 20px; max-width: 30px;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-10 mx-auto" style="margin-top: 100px; margin-bottom: 100px;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-7">
                        <div class="container-fluid">
                            <div class="row align-items-center justify-content-start">

                                <div class="col-12">
                                    <div class="texto" style="font-size: 30px;">Recuerde:</div>
                                </div>

                                <div class="col-8" style="margin-top: 30px;">
                                    <div class="texto" style="font-size: 15px;">
                                        * Este local, como todos los demás en RentEase, es seguro para su alquiler. Cuenta con toda la documentación legal correspondiente.</div>
                                </div>
                                <div class="col-8" style="margin-top: 10px;">
                                    <div class="texto" style="font-size: 15px;">
                                        * El primero de cada mes se abonará la cuota mensual al propietario (próximo cobro: 01/07/2024)</div>
                                </div>

                                <div class="col-10 text-center" style="margin-top: 70px;">
                                    <div class="contactar">
                                        <div class="texto" style="font-size: 18px;">¿Necesita más información? ¡Contacte al 
                                            propietario o con un asesor!</div>
                                        
                                            <div class="container-fluid" style="margin-top: 20px;">
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-10">
                                                        <div class="container-fluid">
                                                            <div class="row align-items-center">
                                                                <div class="col-12 col-md-6 text-center">
                                                                    <div class="texto" style="font-style: italic; font-size: 17px;">Propietario 1</div>
                                                                </div>
                                                                <div class="col-12 col-md-6 text-center">
                                                                    <img src="../../../assets/img/publicacion/prof.png" 
                                                                    alt="propietario" class="img-fluid" style="border-radius: 20px; width: 50px;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-10" style="margin-top: 20px;">
                                                        <a class="btn btn-primary border-0 text-center shadow btn-cargar" 
                                                        routerLink="/main/contacto" routerLinkActive="active">Contactar</a>
                                                    </div>
                                                </div>
                                            </div>

                                    </div>
                                </div>

                            </div>
                        </div>         
                    </div>

                    <div class="col-12 col-lg-5" style="margin-top: 30px; margin-bottom: 30px;">
                        <div class="container-fluid">
                            <div class="row align-items-center justify-content-center">

                                <div class="col-10">
                                    <div class="texto" style="font-size: 30px;">Tu estadía</div>
                                </div>

                                <div class="col-10" style="margin-top: 30px;">
                                    <div class="container-fluid">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-8 col-md-6 text-center">
                                                <div class="texto">
                                                    Fecha de inicio</div>
                                            </div>
                                            <div class="col-8 col-md-6 text-center">
                                                <div class="date" style="background-color: #222222;">
                                                    01/06/2024</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-10 text-center" style="margin-top: 30px; margin-bottom: 30px;">
                                    <div class="container-fluid">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-8 col-md-6 text-center">
                                                <div class="texto text-center">
                                                    Fecha de fin</div>
                                            </div>
                                            <div class="col-8 col-md-6 text-center">
                                                <div class="date text-center" style="background-color: #222222;">
                                                    01/06/2025</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-12 text-center" style="margin-top: 100px;">
                        <button (click)="volverInmueble()" 
                        class="btn btn-primary border-0 btn-reservar" style="font-size: 20px;">
                        Volver a la página del inmueble</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

