<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center header img-fluid">
            <div class="title" style="font-size: 50px;">Encuentra, alquila, vive</div>
            <div class="title" style="font-size: 30px; margin-top: 80px;">
                Tu espacio ideal está a un clic de distancia</div>
        </div>

        <div class="col-12 text-center" style="height: 250px; margin-bottom: 50px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-none d-lg-block" style="margin-top: 80px; margin-bottom: 30px;">
                        <div class="rect">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="parr-header d-none d-lg-block">
                            Con RentEase, te ayudamos a simplificar tu búsqueda de vivienda. Con una amplia gama de
                        </div>
                        <div class="parr-header d-none d-lg-block">
                            propiedades disponibles para alquilar, desde acogedores apartamentos hasta espacios comerciales
                        </div>
                        <div class="parr-header d-none d-lg-block">
                            ideales para tu negocio.
                        </div>
                    </div>
                    <div class="parr-header d-block d-lg-none" style="margin-top: 130px;">
                        Con RentEase, te ayudamos a simplificar tu búsqueda de vivienda. Con una amplia gama de propiedades disponibles para alquilar, desde acogedores apartamentos hasta espacios comerciales ideales para tu negocio.
                    </div>
                    <div class="col-12 d-none d-lg-block" style="margin-top: 30px;">
                        <div class="rect">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 services text-center">
            <div class="title-services">¡Descubre nuestros servicios!</div>
        </div>

        <div class="col-12" style="margin-top: 100px; margin-bottom: 100px;">
            <div class="container-fluid">
                <div class="row justify-content-evenly">
                    <div class="col-10 col-lg-5 text-center d-flex justify-content-center">
                        <div class="desc-cat shadow">
                            <div class="cat-title">
                                ¡Busca el inmueble de tus sueños!
                            </div>
                            <div class="cat-desc">
                                ¿Listo para encontrar el lugar perfecto al que llamar hogar o para impulsar tu empresa al siguiente nivel? ¡Dirígete a Categorías y descubre un mundo de oportunidades!
                            </div>
                        </div>
                    </div>

                    <div class="col-12 d-block d-lg-none sep"></div>

                    <div class="col-10 col-lg-5 text-center d-flex justify-content-center align-items-center">
                        <div>
                            <div>
                                <img src="../../../assets/img/img-ctg.png" 
                                alt="categorias" class="img-fluid img-cont">
                            </div>
                            <div class="d-flex justify-content-center" style="margin-top: 30px;">
                                <a class="btn btn-primary text border-0 text-center" 
                                routerLink="/main" routerLinkActive="active">Ir a Categorías</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12" style="margin-top: 100px;"></div>

                    <div class="col-10 col-lg-5 text-center d-flex justify-content-center align-items-center">
                        <div>
                            <div>
                                <img src="../../../assets/img/img-pub.png" 
                                alt="categorias" class="img-fluid img-cont">
                            </div>
                            <div class="d-flex justify-content-center" style="margin-top: 30px;">
                                <a class="btn btn-primary text border-0 text-center" 
                                routerLink="/main" routerLinkActive="active">Ir a Publica tu inmueble</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 d-block d-lg-none sep"></div>

                    <div class="col-10 col-lg-5 text-center d-flex justify-content-center">
                        <div class="desc-cat shadow" style="background-color: #8B8FAD;">
                            <div class="cat-title">
                                ¡Publica un inmueble!
                            </div>
                            <div class="cat-desc" style="padding-top: 10%;">
                                ¿Tienes algún inmueble en tu poder y deseas encontrar un potencial inquilino? ¡Publícalo en RentEase, genera ingresos y ayuda a alquien más a cumplir sus sueños!
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
