<div style="margin-top: 150px;"></div>

<app-resaltados></app-resaltados>

<div class="container-fluid" style="margin-top: 100px;">
    <div class="row align-items-center justify-content-center">
        <div class="col-10 col-md-5">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 text start">
                        <h3>Categoría</h3>
                        <h2 class="nombre-cat">Comercial</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 col-md-5 text-end" style="padding-right: 5%;">
            <img src="../../../assets/img/cat.png" alt="categoria" class="img-fluid">
        </div>

        <div class="col-10 text-center my-5">
            <div class="linea opacity-100"></div>
        </div>

        <div class="col-10 my-5">
            <div class="resultado" style="margin-left: 50px; margin-right: 50px;">
                <h4 >Resultados para: “Oficina blanca, amplia, con entradas de luz natural.”</h4>
            </div>
        </div>
    </div>
</div>

<app-lista></app-lista>

<app-barra-filtro></app-barra-filtro>
