<div class="container-fluid">
    <div class="row" style="margin-top: 150px; margin-bottom: 50px;">
        <div class="col-7 text-start" style="margin-left: 10%;">
            <h2>Oficina con Diseño Contemporáneo</h2>
        </div>
    
        <div class="col-10 mx-auto" style="margin-top: 50px;">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">
                    <div class="col-8">
                        <img src="../../../assets/img/publicacion/imagen1.png" alt="Imagen 1" class="img-fluid"
                        style="border-radius: 12px">
                    </div>
                    <div class="col-4">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 my-3">
                                    <img src="../../../assets/img/publicacion/imagen2.jpg" alt="Imagen 1" class="img-fluid"
                                    style="border-radius: 12px">
                                </div>
                                <div class="col-12 my-3">
                                    <img src="../../../assets/img/publicacion/imagen3.jpg" alt="Imagen 1" class="img-fluid"
                                    style="border-radius: 12px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-10 mx-auto" style="margin-top: 50px;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="label-cal">Calificación promedio:</div>
                    </div>
                    <div class="col-12 col-lg-2">
                        <img src="../../../assets/img/calificacion.png" alt="calificacion" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-10 mx-auto" style="margin-top: 100px; margin-bottom: 100px;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-7">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-12 col-lg-4 text-start">
                                    <div class="texto">Ofrecido por:</div>
                                </div>
                                <div class="col-12 col-lg-6 text-start my-3">
                                    <div class="container-fluid">
                                        <div class="row align-items-center">
                                            <div class="col-8">
                                                <div class="texto" style="font-style: italic; font-size: 17px;">Propietario 1</div>
                                            </div>
                                            <div class="col-4">
                                                <img src="../../../assets/img/publicacion/prof.png" 
                                                alt="propietario" class="img-fluid" style="border-radius: 20px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 text-start" style="margin-top: 30px;">
                                    <div class="texto">Descripción:</div>
                                </div>

                                <div class="col-12 text-start" style="margin-top: 30px; padding-right: 25px;">
                                    <div class="texto" style="font-size: 15px;">
                                        Oficina con diseño contemporáneo y acabados de primera calidad. Espacio diáfano y luminoso, con grandes ventanales que ofrecen vistas panorámicas de la ciudad. 
                                        Ambiente profesional y  confortable, ideal para empresas creativas y startups en crecimiento.</div>
                                </div>

                                <div class="col-12 text-start" style="margin-top: 30px;">
                                    <div class="texto">Ubicación: San Borja, Lima, Perú</div>
                                </div>

                                <div class="col-12 text-start" style="margin-top: 30px;">
                                    <div class="texto">Tamaño: 60 metros cuadrados</div>
                                </div>

                                <div class="col-12 text-start" style="margin-top: 30px;">
                                    <div class="texto">Número máximo de personas en la oficina: 8</div>
                                </div>

                                <div class="col-12 text-start" style="margin-top: 30px;">
                                    <div class="texto">Equipamiento:</div>
                                </div>

                                <div class="col-12 text-start" style="margin-top: 30px; padding-right: 25px;">
                                    <div class="texto" style="font-size: 15px;">
                                        Totalmente amueblada con mobiliario ergonómico y diseño moderno.</div>
                                </div>

                                <div class="col-12 text-start" style="margin-top: 30px;">
                                    <div class="texto">Accesibilidad:</div>
                                </div>

                                <div class="col-12 text-start" style="margin-top: 30px; padding-right: 25px;">
                                    <div class="texto" style="font-size: 15px;">
                                        Acceso para personas con movilidad reducida y cercanía a transporte público y servicios.</div>
                                </div>

                                <div class="col-10 text-center" style="margin-top: 40px;">
                                    <div class="contactar">
                                        <div class="texto" style="font-size: 18px;">¿Necesita más información? ¡Contacte al 
                                            propietario o con un asesor!</div>
                                        
                                            <div class="container-fluid" style="margin-top: 20px;">
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-10 col-lg-4">
                                                        <div class="texto" style="font-style: italic; font-size: 17px;">Propietario 1</div>
                                                    </div>
                                                    <div class="col-12 col-lg-2">
                                                        <img src="../../../assets/img/publicacion/prof.png" 
                                                        alt="propietario" class="img-fluid" style="border-radius: 20px; width: 50px;">
                                                    </div>
                                                    <div class="col-12 col-lg-5 my-3">
                                                        <a class="btn btn-primary border-0 text-center shadow btn-cargar" 
                                                        routerLink="/main/contacto" routerLinkActive="active">Contactar</a>
                                                    </div>
                                                </div>
                                            </div>

                                    </div>
                                </div>

                                <div class="col-12 text-start" style="margin-top: 60px;">
                                    <div class="texto" style="font-size: 30px;">Reseñas</div>
                                </div>

                                <div class="col-12 text-start" style="margin-top: 20px;">
                                    <div class="container-fluid">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-4">
                                                <button class="btn btn-primary border-0 text-center shadow btn-cargar" 
                                                (click)="mostrarResenas()">Mostrar las 10 reseñas</button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-primary border-0 text-center shadow btn-cargar" 
                                                (click)="crearResena()" [disabled]="!condicion_reservado">
                                                Hacer una reseña</button>
                                            </div>
                                            <div class="col-4">
                                                <div class="texto" style="font-size: 10px;" *ngIf="!condicion_reservado">
                                                    No puede realizar una reseña antes de haber alquilado una vez al menos el inmueble</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>         
                    </div>

                    <div class="col-12 col-lg-5" style="margin-top: 30px; margin-bottom: 30px;">
                        <div class="container-fluid">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-12 text-center">
                                    <div class="texto" style="margin-left: 40px; margin-right: 40px;">
                                        ¡El inmueble está disponible en las fechas que indicaste!</div>
                                </div>

                                <div class="col-12" style="margin-top: 30px;">
                                    <div class="container-fluid">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-8 col-md-6 text-center">
                                                <div class="date">
                                                    Fecha de inicio</div>
                                            </div>
                                            <div class="col-8 col-md-6 text-center">
                                                <div class="date" style="background-color: #222222;">
                                                    01/06/2024</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 text-center" style="margin-top: 30px; margin-bottom: 30px;">
                                    <div class="container-fluid">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-8 col-md-6 text-center">
                                                <div class="date text-center">
                                                    Fecha de fin</div>
                                            </div>
                                            <div class="col-8 col-md-6 text-center">
                                                <div class="date text-center" style="background-color: #222222;">
                                                    01/06/2025</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" style="margin-top: 10px; margin-bottom: 30px;">
                                    <div class="container-fluid">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-8 text-center">
                                                <a class="btn shadow">
                                                    Modificar fechas</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 text-end" style="margin-top: 70px;">
                                    <div class="texto" style="margin-left: 40px; margin-right: 40px; font-size: 30px;">
                                        Precio por mes:</div>
                                    <div class="texto" style="margin-left: 40px; margin-right: 40px; font-size: 50px;">
                                        S/.4000</div>
                                </div>

                                <div class="col-12 text-end" style="margin-top: 30px; margin-right: 50px;">
                                    <button routerLink="/main/reservar" routerLinkActive="active" 
                                    class="btn btn-primary border-0 btn-reservar"
                                    [disabled]="condicion_reservado">Reservar</button>
                                </div>

                                <div *ngIf="condicion_reservado" class="col-12 text-end" style="margin-top: 15px;">
                                    <div class="texto" style="margin-left: 40px; margin-right: 40px; font-size: 12px; padding-left: 40px;">
                                        Ya está alquilando este inmueble</div>
                                </div>

                                <div class="col-12 text-end" style="margin-top: 30px;">
                                    <div class="texto" style="margin-left: 40px; margin-right: 40px; font-size: 12px; padding-left: 40px;">
                                        Este local, como todos los demás en RentEase, es 
                                        seguro para su alquiler. Cuenta con toda la 
                                        documentación legal correspondiente.</div>
                                </div>

                                <div class="col-12 text-end" style="margin-top: 30%; margin-right: 50px;">
                                    <a routerLink="/main/resultados" routerLinkActive="active" 
                                    class="btn btn-primary border-0 btn-volver">Volver</a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <app-barra-filtro></app-barra-filtro>

    </div>
</div>
